**.web
**.vscode
**__pycache__
**/*.pyc
.env
database.ini
table.pypynecone.db
*.py[cod]
.web
__pycache__/pynecone.dbpynecone.db
__pycache__/pynecone.db__pycache__/
pynecone.db__pycache__/__pycache__/
pynecone.db__pycache__/
nohup.out